.tables{
    width: 800px;
    margin: auto;
}

.tables h2:nth-of-type(1), .tables h2:nth-of-type(2){
    padding-top: 20px;
}

tr td{
    padding: 6px 10px 6px 10px;
}

.experiences{
    border: 2px solid #9a5a12;
    border-radius: 7px;
    width: 100%;
}

.experiences td:nth-of-type(1),.trainings td:nth-of-type(1){
    padding-right: 30px;
    font-weight: 600;
}

.experiences tr td:nth-of-type(3){
    font-style: italic;
    text-align: right;
}

.trainings{
    border: 2px solid #9a5a12;
    border-radius: 7px;
    width: 100%;
}

.skills{
    border: 2px solid #9a5a12;
    border-radius: 7px;
    width: 100%;
}

.skills tr:nth-of-type(2) td:nth-of-type(1){
    width: 130px;
    text-align: right;
}

.langue{
    width: 120px;
    font-weight: 600;
    padding-left: 90px;
}

.comprehension{
    width: 100px;
    font-style: italic;
    text-align: right;
}

.expression{
    width: 100px;
    font-style: italic;
    text-align: right;
}